<form class="form-horizontal" role="form">
  <div class="form-group">
    <label class="col-xs-4 control-label">Company</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{companyName}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">Contact</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{contactName}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">City</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{city}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">Postal code</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{postalCode}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">Country</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{country}}</p>
    </div>
  </div>
  <div class="form-group">
    <label class="col-xs-4 control-label">Phone</label>
    <div class="col-xs-4">
      <p class="form-control-static">{{phone}}</p>
    </div>
  </div>
</form>
